Package: com.tareq.orientationcontrol
Name: OrientationControl
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Tareq El Dandachi
Author: Tareq El Dandachi
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
